<?xml version="1.0" encoding="utf-8"?>

<robot
  name="Doosan_loz">

<link name="base_link">
    <visual>
      <geometry>
        <mesh filename="assets/ur5/visual/base.stl"/>
      </geometry>
      <material name="LightGrey"/>
    </visual>
    <collision>
      <geometry>
      	<mesh filename="assets/ur5/visual/base.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="4.0"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia ixx="0.00443333156" ixy="0.0" ixz="0.0" iyy="0.00443333156" iyz="0.0" izz="0.0072"/>
    </inertial>
  </link>
  <joint name="shoulder_pan_joint" type="revolute">
    <parent link="base_link"/>
    <child link="shoulder_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.089159"/>
    <axis xyz="0 0 1"/>
    <limit effort="150.0" lower="-6.28318530718" upper="6.28318530718" velocity="3.15"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint>
  <link name="shoulder_link">
    <visual>
      <geometry>
        <mesh filename="assets/ur5/visual/shoulder.stl"/>
      </geometry>
      <material name="DarkGrey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="assets/ur5/visual/shoulder.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="3.7"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia ixx="0.010267495893" ixy="0.0" ixz="0.0" iyy="0.010267495893" iyz="0.0" izz="0.00666"/>
    </inertial>
  </link>
 </robot>
